In [161]:
import pandas as pd
import os

In [162]:
#read all the csv and merge into one large dataframe for processing. 
ridership_full = pd.read_csv(f"bikeshare-ridership-2023/Bike share ridership 2023-01.csv", encoding= 'cp1252')
for file in os.listdir("bikeshare-ridership-2023")[1:]:
    csv = pd.read_csv(f"bikeshare-ridership-2023/{file}", encoding= 'cp1252')
    ridership_full = ridership_full.append(csv)
    
ridership_full

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id
0,20148784.0,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703.0,01/01/2023 00:14,NaN,1770,Casual Member,NaN
1,20148785.0,722,7399,01/01/2023 00:01,Lower Jarvis / Queens Quay E,7533.0,01/01/2023 00:13,Housey St / Dan Leckie Way,6400,Casual Member,NaN
2,20148786.0,1054,7269,01/01/2023 00:02,Toronto Eaton Centre (Yonge St),7076.0,01/01/2023 00:20,York St / Queens Quay W,4068,Annual Member,NaN
3,20148790.0,1329,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,427,Casual Member,NaN
4,20148791.0,1291,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,1840,Casual Member,NaN
...,...,...,...,...,...,...,...,...,...,...,...
663686,NaN,3209,7713,06/30/2023 23:59,NaN,7408.0,07/01/2023 00:53,University Ave / Armoury St,4905,Casual Member,22691896.0
663687,NaN,279,7462,06/30/2023 23:59,Richmond St E / Yonge St,7102.0,07/01/2023 00:04,Nelson St / Duncan St,1381,Annual Member,22691897.0
663688,NaN,2823,7283,06/30/2023 23:59,Front St W / Bay St (South Side),7283.0,07/01/2023 00:47,Front St W / Bay St (South Side),7324,Casual Member,22691898.0
663689,NaN,3353,7713,06/30/2023 23:59,NaN,7408.0,07/01/2023 00:55,University Ave / Armoury St,3309,Casual Member,22691899.0
663690,NaN,1422,7281,06/30/2023 23:59,Charles St W / Balmuto St - SMART,7441.0,07/01/2023 00:23,Pacific Ave / Glenlake Ave,1945,Casual Member,22691900.0

In [163]:
"""
# join station name and ID together, find unique value, add to a new dataframe and export to examine which stations we have coordinates and which ones we don't. 
ridership_full['StationID'] = ridership_full['Start Station Name'].fillna('NA') + ',' + ridership_full['Start Station Id'].astype('str')
stationid = pd.DataFrame(ridership_full['StationID'].unique())
stationid.to_csv("bikeshare stations.csv")
"""

'\n# join station name and ID together, find unique value, add to a new dataframe and export to examine which stations we have coordinates and which ones we don\'t. \nridership_full[\'StationID\'] = ridership_full[\'Start Station Name\'].fillna(\'NA\') + \',\' + ridership_full[\'Start Station Id\'].astype(\'str\')\nstationid = pd.DataFrame(ridership_full[\'StationID\'].unique())\nstationid.to_csv("bikeshare stations.csv")\n'

In [164]:
ridership_clean = ridership_full.loc[~((ridership_full['Start Station Id'] == ridership_full['End Station Id']) & (ridership_full['Trip  Duration'] < 300))]
#ridership_clean = ridership_clean[['Trip  Duration', 'Start Station Id', 'End Station Id']]
#remove the decimal point
ridership_clean['End Station Id'] = ridership_clean['End Station Id'].fillna(0).astype('int')
#merge start and end station id to identify unique value counts
ridership_clean['Start End Station'] = ridership_clean['Start Station Id'].astype('str') + ", " + ridership_clean['End Station Id'].astype('str')
ridership_clean

/Users/michaelliu/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/michaelliu/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id,Start End Station
0,20148784.0,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703,01/01/2023 00:14,NaN,1770,Casual Member,NaN,"7022, 7703"
1,20148785.0,722,7399,01/01/2023 00:01,Lower Jarvis / Queens Quay E,7533,01/01/2023 00:13,Housey St / Dan Leckie Way,6400,Casual Member,NaN,"7399, 7533"
2,20148786.0,1054,7269,01/01/2023 00:02,Toronto Eaton Centre (Yonge St),7076,01/01/2023 00:20,York St / Queens Quay W,4068,Annual Member,NaN,"7269, 7076"
3,20148790.0,1329,7721,01/01/2023 00:04,NaN,7685,01/01/2023 00:26,NaN,427,Casual Member,NaN,"7721, 7685"
4,20148791.0,1291,7721,01/01/2023 00:04,NaN,7685,01/01/2023 00:26,NaN,1840,Casual Member,NaN,"7721, 7685"
...,...,...,...,...,...,...,...,...,...,...,...,...
663686,NaN,3209,7713,06/30/2023 23:59,NaN,7408,07/01/2023 00:53,University Ave / Armoury St,4905,Casual Member,22691896.0,"7713, 7408"
663687,NaN,279,7462,06/30/2023 23:59,Richmond St E / Yonge St,7102,07/01/2023 00:04,Nelson St / Duncan St,1381,Annual Member,22691897.0,"7462, 7102"
663688,NaN,2823,7283,06/30/2023 23:59,Front St W / Bay St (South Side),7283,07/01/2023 00:47,Front St W / Bay St (South Side),7324,Casual Member,22691898.0,"7283, 7283"
663689,NaN,3353,7713,06/30/2023 23:59,NaN,7408,07/01/2023 00:55,University Ave / Armoury St,3309,Casual Member,22691899.0,"7713, 7408"
663690,NaN,1422,7281,06/30/2023 23:59,Charles St W / Balmuto St - SMART,7441,07/01/2023 00:23,Pacific Ave / Glenlake Ave,1945,Casual Member,22691900.0,"7281, 7441"

In [165]:
ridership_clean.loc[(ridership_clean['Start Station Id'] == 7544)]

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id,Start End Station
8797,20365420.0,508,7544,02/02/2023 14:49,Foster Pl / Elizabeth St,7398,02/02/2023 14:58,York St / Lakeshore St W - South,5598,Casual Member,NaN,"7544, 7398"

In [166]:
ridership_clean.loc[(ridership_clean['End Station Id'] == 7544)]

Empty DataFrame
Columns: [ï»¿Trip Id, Trip  Duration, Start Station Id, Start Time, Start Station Name, End Station Id, End Time, End Station Name, Bike Id, User Type, Trip Id, Start End Station]
Index: []

In [167]:
ridership_clean.loc[(ridership_clean['Start Station Id'] == 7915)]

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id,Start End Station
229438,26651776.0,882,7915,12/26/2023 15:17,NaN,7178,12/26/2023 15:32,Dundas St W / Edna Ave,541,Casual Member,NaN,"7915, 7178"
235649,26658945.0,1209,7915,12/28/2023 09:12,NaN,7174,12/28/2023 09:32,Bloor St W / Dundas St W,1724,Casual Member,NaN,"7915, 7174"

In [168]:
ridership_clean.loc[(ridership_clean['End Station Id'] == 7915)]

Empty DataFrame
Columns: [ï»¿Trip Id, Trip  Duration, Start Station Id, Start Time, Start Station Name, End Station Id, End Time, End Station Name, Bike Id, User Type, Trip Id, Start End Station]
Index: []

In [169]:

#read the bikeshare stations sheet with coordinates of the stations
bikeshare_stations = pd.read_csv("bikeshare station id.csv",encoding= 'cp1252')
bikeshare_stations['ID'] = bikeshare_stations['ID'].astype('str')
bikeshare_stations

,ID,Name,Station,y,x
0,7657,1 Market St - SMART,1 Market St - SMART,43.646993,-79.370666
1,7708,NaN,101 Cedarvale Ave,43.686868,-79.311094
2,7710,NaN,11 Spadina Rd,43.667725,-79.404137
3,7268,111 Bond St (North of Dundas St E) - SMART,111 Bond St (North of Dundas St E) - SMART,43.656927,-79.378497
4,7702,NaN,111 Broadview Ave,43.659348,-79.349937
...,...,...,...,...,...
809,7914,NaN,York St / Wellington St W (2),43.647043,-79.383141
810,7915,NaN,Rogers Rd / Watt Ave,43.682337,-79.468059
811,7916,NaN,University Ave / Pearl St,43.648430,-79.385566
812,7917,NaN,King St W / University Ave,43.647818,-79.384280
813,7918,NaN,Albion Rd/ Arcot Blvd,43.727622,-79.552549

In [170]:
ridership_clean['Start Station Id'] = ridership_clean['Start Station Id'].astype('str')

bikeshare = pd.merge(ridership_clean, bikeshare_stations, left_on = "Start Station Id", right_on = "ID")

bikeshare

/Users/michaelliu/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id,Start End Station,ID,Name,Station,y,x
0,20148784.0,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703,01/01/2023 00:14,NaN,1770,Casual Member,NaN,"7022, 7703",7022,Simcoe St / Queen St W,Simcoe St / Queen St W,43.650490,-79.387300
1,20148934.0,843,7022,01/01/2023 00:43,Simcoe St / Queen St W,7109,01/01/2023 00:57,Seaton St / Dundas St E - SMART,4896,Annual Member,NaN,"7022, 7109",7022,Simcoe St / Queen St W,Simcoe St / Queen St W,43.650490,-79.387300
2,20149050.0,1468,7022,01/01/2023 01:07,Simcoe St / Queen St W,7079,01/01/2023 01:31,McGill St / Church St,7232,Casual Member,NaN,"7022, 7079",7022,Simcoe St / Queen St W,Simcoe St / Queen St W,43.650490,-79.387300
3,20149368.0,613,7022,01/01/2023 02:07,Simcoe St / Queen St W,7046,01/01/2023 02:17,Niagara St / Richmond St W,671,Casual Member,NaN,"7022, 7046",7022,Simcoe St / Queen St W,Simcoe St / Queen St W,43.650490,-79.387300
4,20149371.0,807,7022,01/01/2023 02:07,Simcoe St / Queen St W,7203,01/01/2023 02:21,Bathurst St/Queens Quay(Billy Bishop Airport),6090,Casual Member,NaN,"7022, 7203",7022,Simcoe St / Queen St W,Simcoe St / Queen St W,43.650490,-79.387300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100968,26680920.0,275,7916,12/31/2023 16:16,NaN,7474,12/31/2023 16:21,Clarence Square,4415,Casual Member,NaN,"7916, 7474",7916,NaN,University Ave / Pearl St,43.648430,-79.385566
5100969,26651776.0,882,7915,12/26/2023 15:17,NaN,7178,12/26/2023 15:32,Dundas St W / Edna Ave,541,Casual Member,NaN,"7915, 7178",7915,NaN,Rogers Rd / Watt Ave,43.682337,-79.468059
5100970,26658945.0,1209,7915,12/28/2023 09:12,NaN,7174,12/28/2023 09:32,Bloor St W / Dundas St W,1724,Casual Member,NaN,"7915, 7174",7915,NaN,Rogers Rd / Watt Ave,43.682337,-79.468059
5100971,26660168.0,3119,7918,12/28/2023 12:56,NaN,7918,12/28/2023 13:48,NaN,6110,Casual Member,NaN,"7918, 7918",7918,NaN,Albion Rd/ Arcot Blvd,43.727622,-79.552549
5100972,26660539.0,1894,7918,12/28/2023 13:53,NaN,7583,12/28/2023 14:24,Eglinton Ave W / Scarlett Rd,6110,Casual Member,NaN,"7918, 7583",7918,NaN,Albion Rd/ Arcot Blvd,43.727622,-79.552549

In [171]:
"""# average the trip duration between start-end station pair
start_end = pd.pivot_table(ridership_clean, index = "Start End Station", columns = "Trip  Duration", aggfunc= "mean")
start_end"""

'# average the trip duration between start-end station pair\nstart_end = pd.pivot_table(ridership_clean, index = "Start End Station", columns = "Trip  Duration", aggfunc= "mean")\nstart_end'

In [172]:
#calculating each number of trips that each station is a destination. 
bikeshare_ending = pd.pivot_table(bikeshare, index = 'Start Station Id', columns = 'End Station Id', values = 'Station', aggfunc = 'count').reset_index()
#bikeshare_ending = bikeshare_ending.drop(0, axis =1)
bikeshare_ending
#the column names are the end station Id, and the values under Start Station ID are the ID of starting station. When display on web, for instance the selected column is 7000, 
#each value is the number of trips ending at station 7000

End Station Id,Start Station Id,0,7000,7001,7002,7003,7004,7005,7006,7007,...,7907,7909,7910,7911,7912,7913,7914,7916,7917,7918
0,7000,15.0,588.0,10.0,32.0,7.0,11.0,150.0,71.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
1,7001,6.0,10.0,274.0,203.0,51.0,39.0,7.0,145.0,144.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,7002,11.0,20.0,139.0,196.0,113.0,28.0,14.0,317.0,629.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
3,7003,5.0,16.0,28.0,88.0,86.0,8.0,3.0,69.0,117.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
4,7004,5.0,31.0,54.0,39.0,1.0,27.0,14.0,176.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810,7915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
811,7916,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,7917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
813,7918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [173]:
bikeshare_ending['Start Station Id'] = bikeshare_ending['Start Station Id'].astype('str')
ridership_ending = pd.merge(bikeshare_ending, bikeshare_stations, left_on = "Start Station Id", right_on = "ID")
ridership_ending = ridership_ending.drop(['Name', 'ID'], axis =1)
ridership_ending.to_csv("bikeshare relations (destination).csv")

In [174]:
ridership_ending

,Start Station Id,0,7000,7001,7002,7003,7004,7005,7006,7007,...,7911,7912,7913,7914,7916,7917,7918,Station,y,x
0,7000,15.0,588.0,10.0,32.0,7.0,11.0,150.0,71.0,73.0,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Fort York Blvd / Capreol Ct,43.639832,-79.395954
1,7001,6.0,10.0,274.0,203.0,51.0,39.0,7.0,145.0,144.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Wellesley Station Green P,43.664964,-79.383550
2,7002,11.0,20.0,139.0,196.0,113.0,28.0,14.0,317.0,629.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,St. George St / Bloor St W,43.667333,-79.399429
3,7003,5.0,16.0,28.0,88.0,86.0,8.0,3.0,69.0,117.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,Madison Ave / Bloor St W,43.667158,-79.402761
4,7004,5.0,31.0,54.0,39.0,1.0,27.0,14.0,176.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Ave / Elm St,43.656518,-79.389099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,York St / Wellington St W (2),43.647043,-79.383141
810,7915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rogers Rd / Watt Ave,43.682337,-79.468059
811,7916,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Ave / Pearl St,43.648430,-79.385566
812,7917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,King St W / University Ave,43.647818,-79.384280
813,7918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Albion Rd/ Arcot Blvd,43.727622,-79.552549

In [175]:
#calculating each number of trips that each station is a origin. 
bikeshare_starting = pd.pivot_table(bikeshare, index = 'End Station Id', columns = 'Start Station Id', values = 'Station', aggfunc = 'count').reset_index()
#bikeshare_starting = bikeshare_starting.drop(0)
bikeshare_starting
#the column names are the end station Id, and the values under Start Station ID are the ID of starting station. When display on web, for instance the selected column is 7000, 
#each value is the number of trips ending at station 7000

Start Station Id,End Station Id,7000,7001,7002,7003,7004,7005,7006,7007,7008,...,7909,7910,7911,7912,7913,7914,7915,7916,7917,7918
0,0,15.0,6.0,11.0,5.0,5.0,10.0,13.0,9.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7000,588.0,10.0,20.0,16.0,31.0,82.0,70.0,61.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
2,7001,10.0,274.0,139.0,28.0,54.0,4.0,239.0,170.0,251.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,7002,32.0,203.0,196.0,88.0,39.0,17.0,368.0,620.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7003,7.0,51.0,113.0,86.0,1.0,2.0,96.0,82.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,7913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,7914,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
813,7916,2.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
814,7917,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
815,7918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [176]:
bikeshare_starting['End Station Id'] = bikeshare_starting['End Station Id'].astype('str')
ridership_starting = pd.merge(bikeshare_starting, bikeshare_stations, left_on = "End Station Id", right_on = "ID")
ridership_starting = ridership_starting.drop(['Name', 'ID'], axis =1)
ridership_starting.to_csv("bikeshare relations (origin).csv")

In [179]:
ridership_starting.columns

Index(['End Station Id', '7000', '7001', '7002', '7003', '7004', '7005',
       '7006', '7007', '7008',
       ...
       '7912', '7913', '7914', '7915', '7916', '7917', '7918', 'Station', 'y',
       'x'],
      dtype='object', length=818)

In [181]:
#remove the two stations that only has starting trips from those, but has never been a destination station. Could be data error. 
ridership_origin = ridership_starting.drop(['7544', '7915'], axis =1)
headers = ridership_origin.columns.tolist()
colmns = {}


for head in headers[1:]:
    colmns.update({f'{head}' : f'{head}_orig'})

ridership_origin = ridership_starting.rename(columns = colmns)

ridership_origin

,End Station Id,7000_orig,7001_orig,7002_orig,7003_orig,7004_orig,7005_orig,7006_orig,7007_orig,7008_orig,...,7912_orig,7913_orig,7914_orig,7915,7916_orig,7917_orig,7918_orig,Station_orig,y_orig,x_orig
0,7000,588.0,10.0,20.0,16.0,31.0,82.0,70.0,61.0,14.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Fort York Blvd / Capreol Ct,43.639832,-79.395954
1,7001,10.0,274.0,139.0,28.0,54.0,4.0,239.0,170.0,251.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Wellesley Station Green P,43.664964,-79.383550
2,7002,32.0,203.0,196.0,88.0,39.0,17.0,368.0,620.0,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,St. George St / Bloor St W,43.667333,-79.399429
3,7003,7.0,51.0,113.0,86.0,1.0,2.0,96.0,82.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Madison Ave / Bloor St W,43.667158,-79.402761
4,7004,11.0,39.0,28.0,8.0,27.0,5.0,201.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Ave / Elm St,43.656518,-79.389099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,7913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,St. George St / Willcocks St,43.662453,-79.397838
808,7914,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,York St / Wellington St W (2),43.647043,-79.383141
809,7916,2.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Ave / Pearl St,43.648430,-79.385566
810,7917,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,King St W / University Ave,43.647818,-79.384280
811,7918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Albion Rd/ Arcot Blvd,43.727622,-79.552549

In [160]:
ridership_origin.columns

Index(['End Station Id', '7000_orig', '7001_orig', '7002_orig', '7003_orig',
       '7004_orig', '7005_orig', '7006_orig', '7007_orig', '7008_orig',
       ...
       '7912_orig', '7913_orig', '7914_orig', '7915_orig', '7916_orig',
       '7917_orig', '7918_orig', 'Station_orig', 'y_orig', 'x_orig'],
      dtype='object', length=818)

In [138]:

ridership_diff = pd.merge(ridership_ending, ridership_origin, left_on = "Start Station Id", right_on = "End Station Id")
ridership_diff

,Start Station Id,0,7000,7001,7002,7003,7004,7005,7006,7007,...,7912_orig,7913_orig,7914_orig,7915_orig,7916_orig,7917_orig,7918_orig,Station_orig,y_orig,x_orig
0,7000,15.0,588.0,10.0,32.0,7.0,11.0,150.0,71.0,73.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Fort York Blvd / Capreol Ct,43.639832,-79.395954
1,7001,6.0,10.0,274.0,203.0,51.0,39.0,7.0,145.0,144.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Wellesley Station Green P,43.664964,-79.383550
2,7002,11.0,20.0,139.0,196.0,113.0,28.0,14.0,317.0,629.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,St. George St / Bloor St W,43.667333,-79.399429
3,7003,5.0,16.0,28.0,88.0,86.0,8.0,3.0,69.0,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Madison Ave / Bloor St W,43.667158,-79.402761
4,7004,5.0,31.0,54.0,39.0,1.0,27.0,14.0,176.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Ave / Elm St,43.656518,-79.389099
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,7913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,St. George St / Willcocks St,43.662453,-79.397838
808,7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,York St / Wellington St W (2),43.647043,-79.383141
809,7916,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,University Ave / Pearl St,43.648430,-79.385566
810,7917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,King St W / University Ave,43.647818,-79.384280
811,7918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Albion Rd/ Arcot Blvd,43.727622,-79.552549

In [131]:
for x in ridership_diff.columns.tolist():
    print(x)

Start Station Id
0
7000
7001
7002
7003
7004
7005
7006
7007
7008
7009
7010
7012
7013
7014
7015
7016
7017
7018
7019
7020
7021
7022
7023
7024
7025
7026
7027
7028
7029
7030
7031
7032
7033
7034
7035
7036
7037
7038
7039
7040
7041
7042
7043
7044
7045
7046
7047
7048
7049
7050
7052
7053
7054
7055
7056
7057
7058
7059
7061
7062
7063
7064
7065
7066
7067
7068
7069
7070
7071
7072
7073
7074
7075
7076
7077
7078
7079
7083
7084
7085
7086
7087
7088
7089
7090
7091
7092
7093
7094
7095
7096
7097
7098
7099
7100
7101
7102
7103
7104
7105
7106
7107
7108
7109
7110
7111
7112
7113
7114
7115
7116
7117
7118
7119
7120
7121
7122
7123
7124
7126
7127
7128
7129
7130
7131
7132
7133
7135
7136
7137
7138
7139
7140
7141
7142
7143
7144
7146
7147
7148
7149
7150
7151
7152
7153
7154
7155
7156
7157
7158
7160
7161
7162
7163
7164
7167
7168
7169
7170
7171
7172
7173
7174
7175
7176
7178
7180
7181
7182
7183
7184
7188
7189
7190
7191
7192
7193
7194
7195
7196
7197
7198
7199
7202
7203
7204
7205
7206
7207
7208
7209
7210
7211
7216
7217
7220
7221
7222
7223
7224
7225
7226
7227
7228
7229
7230
7231
7232
7233
7234
7235
7236
7237
7238
7239
7240
7241
7242
7243
7244
7245
7246
7247
7248
7249
7250
7251
7252
7253
7256
7257
7258
7259
7260
7261
7262
7263
7264
7265
7266
7267
7268
7269
7270
7271
7272
7273
7274
7275
7276
7277
7278
7279
7280
7281
7283
7284
7285
7286
7287
7288
7289
7291
7292
7296
7297
7298
7299
7301
7302
7303
7309
7311
7312
7313
7314
7315
7316
7317
7318
7319
7320
7321
7322
7323
7324
7326
7327
7328
7329
7331
7332
7333
7334
7335
7336
7337
7338
7339
7340
7341
7342
7343
7344
7345
7346
7347
7348
7349
7350
7351
7352
7353
7354
7355
7356
7357
7358
7359
7360
7361
7362
7363
7364
7365
7366
7367
7368
7369
7371
7373
7374
7375
7376
7377
7378
7379
7380
7381
7382
7383
7384
7385
7386
7387
7388
7389
7391
7392
7395
7398
7399
7400
7403
7404
7406
7407
7408
7409
7410
7411
7412
7413
7414
7415
7416
7417
7418
7419
7420
7422
7424
7425
7427
7428
7429
7430
7431
7432
7433
7434
7435
7437
7438
7440
7441
7442
7443
7444
7445
7446
7447
7448
7449
7450
7451
7452
7453
7454
7455
7457
7458
7459
7460
7461
7462
7463
7465
7466
7467
7468
7469
7471
7472
7473
7474
7475
7476
7477
7478
7479
7480
7483
7484
7485
7486
7487
7488
7489
7491
7492
7493
7494
7496
7497
7501
7502
7503
7504
7505
7506
7508
7514
7515
7516
7517
7518
7519
7520
7521
7522
7523
7524
7526
7527
7528
7529
7530
7531
7533
7534
7536
7537
7538
7539
7540
7541
7542
7543
7545
7546
7547
7548
7549
7551
7552
7553
7554
7555
7556
7557
7558
7559
7561
7562
7563
7564
7565
7566
7567
7568
7569
7570
7571
7572
7575
7576
7577
7579
7580
7581
7582
7583
7584
7585
7586
7587
7588
7589
7590
7591
7593
7594
7595
7596
7597
7598
7599
7600
7601
7602
7603
7604
7605
7606
7607
7608
7609
7610
7611
7612
7613
7614
7615
7616
7617
7618
7619
7620
7621
7622
7623
7624
7625
7626
7627
7629
7630
7631
7632
7633
7634
7635
7636
7637
7638
7639
7640
7641
7642
7643
7644
7645
7646
7647
7648
7650
7654
7655
7656
7657
7658
7659
7660
7662
7663
7664
7665
7666
7667
7668
7670
7671
7675
7676
7677
7678
7679
7680
7681
7682
7683
7684
7685
7686
7687
7688
7689
7690
7691
7692
7693
7694
7695
7696
7698
7699
7700
7701
7702
7703
7704
7705
7706
7707
7708
7709
7710
7711
7712
7713
7715
7716
7717
7718
7719
7720
7721
7723
7724
7725
7726
7728
7729
7730
7731
7732
7733
7734
7735
7736
7737
7738
7739
7740
7741
7742
7743
7744
7745
7746
7747
7748
7749
7750
7751
7752
7753
7754
7755
7756
7757
7758
7759
7760
7761
7762
7763
7765
7766
7767
7768
7769
7770
7771
7772
7773
7774
7775
7776
7777
7778
7779
7780
7781
7782
7783
7784
7785
7787
7788
7789
7790
7791
7792
7794
7795
7796
7798
7799
7800
7801
7802
7803
7804
7805
7806
7807
7808
7809
7810
7811
7812
7813
7814
7815
7816
7817
7818
7819
7820
7821
7822
7823
7824
7825
7826
7827
7828
7829
7830
7831
7832
7833
7834
7835
7836
7837
7838
7839
7840
7841
7842
7843
7844
7845
7846
7848
7849
7850
7851
7852
7853
7854
7855
7856
7857
7858
7859
7860
7861
7862
7863
7864
7865
7866
7867
7868
7869
7870
7871
7872
7873
7874
7875
7876
7877
7878
7879
7880
7881
7882
7883
7884
7885
7886
7887
7888
7889
7890
7891
7892
7893
7895
7896
7897
7898
7899
7900
7901
7902
7903
7904
7905
7906
7907
7909
7910
7911
7912
7913
7914
7916
7917
7918
Station_x
y_x
x_x
End Station Id
7000
7001
7002
7003
7004
7005
7006
7007
7008
7009
7010
7012
7013
7014
7015
7016
7017
7018
7019
7020
7021
7022
7023
7024
7025
7026
7027
7028
7029
7030
7031
7032
7033
7034
7035
7036
7037
7038
7039
7040
7041
7042
7043
7044
7045
7046
7047
7048
7049
7050
7052
7053
7054
7055
7056
7057
7058
7059
7061
7062
7063
7064
7065
7066
7067
7068
7069
7070
7071
7072
7073
7074
7075
7076
7077
7078
7079
7083
7084
7085
7086
7087
7088
7089
7090
7091
7092
7093
7094
7095
7096
7097
7098
7099
7100
7101
7102
7103
7104
7105
7106
7107
7108
7109
7110
7111
7112
7113
7114
7115
7116
7117
7118
7119
7120
7121
7122
7123
7124
7126
7127
7128
7129
7130
7131
7132
7133
7135
7136
7137
7138
7139
7140
7141
7142
7143
7144
7146
7147
7148
7149
7150
7151
7152
7153
7154
7155
7156
7157
7158
7160
7161
7162
7163
7164
7167
7168
7169
7170
7171
7172
7173
7174
7175
7176
7178
7180
7181
7182
7183
7184
7188
7189
7190
7191
7192
7193
7194
7195
7196
7197
7198
7199
7202
7203
7204
7205
7206
7207
7208
7209
7210
7211
7216
7217
7220
7221
7222
7223
7224
7225
7226
7227
7228
7229
7230
7231
7232
7233
7234
7235
7236
7237
7238
7239
7240
7241
7242
7243
7244
7245
7246
7247
7248
7249
7250
7251
7252
7253
7256
7257
7258
7259
7260
7261
7262
7263
7264
7265
7266
7267
7268
7269
7270
7271
7272
7273
7274
7275
7276
7277
7278
7279
7280
7281
7283
7284
7285
7286
7287
7288
7289
7291
7292
7296
7297
7298
7299
7301
7302
7303
7309
7311
7312
7313
7314
7315
7316
7317
7318
7319
7320
7321
7322
7323
7324
7326
7327
7328
7329
7331
7332
7333
7334
7335
7336
7337
7338
7339
7340
7341
7342
7343
7344
7345
7346
7347
7348
7349
7350
7351
7352
7353
7354
7355
7356
7357
7358
7359
7360
7361
7362
7363
7364
7365
7366
7367
7368
7369
7371
7373
7374
7375
7376
7377
7378
7379
7380
7381
7382
7383
7384
7385
7386
7387
7388
7389
7391
7392
7395
7398
7399
7400
7403
7404
7406
7407
7408
7409
7410
7411
7412
7413
7414
7415
7416
7417
7418
7419
7420
7422
7424
7425
7427
7428
7429
7430
7431
7432
7433
7434
7435
7437
7438
7440
7441
7442
7443
7444
7445
7446
7447
7448
7449
7450
7451
7452
7453
7454
7455
7457
7458
7459
7460
7461
7462
7463
7465
7466
7467
7468
7469
7471
7472
7473
7474
7475
7476
7477
7478
7479
7480
7483
7484
7485
7486
7487
7488
7489
7491
7492
7493
7494
7496
7497
7501
7502
7503
7504
7505
7506
7508
7514
7515
7516
7517
7518
7519
7520
7521
7522
7523
7524
7526
7527
7528
7529
7530
7531
7533
7534
7536
7537
7538
7539
7540
7541
7542
7543
7544
7545
7546
7547
7548
7549
7551
7552
7553
7554
7555
7556
7557
7558
7559
7561
7562
7563
7564
7565
7566
7567
7568
7569
7570
7571
7572
7575
7576
7577
7579
7580
7581
7582
7583
7584
7585
7586
7587
7588
7589
7590
7591
7593
7594
7595
7596
7597
7598
7599
7600
7601
7602
7603
7604
7605
7606
7607
7608
7609
7610
7611
7612
7613
7614
7615
7616
7617
7618
7619
7620
7621
7622
7623
7624
7625
7626
7627
7629
7630
7631
7632
7633
7634
7635
7636
7637
7638
7639
7640
7641
7642
7643
7644
7645
7646
7647
7648
7650
7654
7655
7656
7657
7658
7659
7660
7662
7663
7664
7665
7666
7667
7668
7670
7671
7675
7676
7677
7678
7679
7680
7681
7682
7683
7684
7685
7686
7687
7688
7689
7690
7691
7692
7693
7694
7695
7696
7698
7699
7700
7701
7702
7703
7704
7705
7706
7707
7708
7709
7710
7711
7712
7713
7715
7716
7717
7718
7719
7720
7721
7724
7725
7728
7729
7730
7731
7732
7733
7734
7735
7736
7737
7738
7739
7740
7741
7742
7743
7744
7745
7746
7747
7748
7749
7750
7751
7752
7753
7754
7755
7756
7757
7758
7759
7760
7761
7762
7765
7766
7767
7768
7769
7770
7771
7772
7773
7774
7775
7776
7777
7778
7779
7780
7781
7782
7783
7784
7785
7787
7788
7789
7790
7791
7792
7794
7795
7796
7798
7799
7800
7801
7802
7803
7804
7805
7806
7807
7808
7809
7810
7811
7812
7813
7814
7815
7816
7817
7818
7819
7820
7821
7822
7823
7824
7825
7826
7827
7828
7829
7830
7831
7832
7833
7834
7835
7836
7837
7838
7839
7840
7841
7842
7843
7844
7845
7846
7848
7849
7850
7851
7852
7853
7854
7855
7856
7857
7858
7859
7860
7861
7862
7863
7864
7865
7866
7867
7868
7869
7870
7871
7872
7873
7874
7875
7876
7877
7878
7879
7880
7881
7882
7883
7884
7885
7886
7887
7888
7889
7890
7891
7892
7893
7895
7896
7897
7898
7899
7900
7901
7902
7903
7904
7905
7906
7907
7909
7910
7911
7912
7913
7914
7915
7916
7917
7918
Station_y
y_y
x_y

In [95]:
startinglist = ridership_starting['End Station Id'].tolist()
endinglist = ridership_ending['Start Station Id'].tolist()

len(endinglist)

for end in endinglist:
    if end not in startinglist:
        print(end)

7544
7915

In [101]:
startinglistheader = ridership_starting.columns.tolist()[1:-3]
startinglistheader

['7000',
 '7001',
 '7002',
 '7003',
 '7004',
 '7005',
 '7006',
 '7007',
 '7008',
 '7009',
 '7010',
 '7012',
 '7013',
 '7014',
 '7015',
 '7016',
 '7017',
 '7018',
 '7019',
 '7020',
 '7021',
 '7022',
 '7023',
 '7024',
 '7025',
 '7026',
 '7027',
 '7028',
 '7029',
 '7030',
 '7031',
 '7032',
 '7033',
 '7034',
 '7035',
 '7036',
 '7037',
 '7038',
 '7039',
 '7040',
 '7041',
 '7042',
 '7043',
 '7044',
 '7045',
 '7046',
 '7047',
 '7048',
 '7049',
 '7050',
 '7052',
 '7053',
 '7054',
 '7055',
 '7056',
 '7057',
 '7058',
 '7059',
 '7061',
 '7062',
 '7063',
 '7064',
 '7065',
 '7066',
 '7067',
 '7068',
 '7069',
 '7070',
 '7071',
 '7072',
 '7073',
 '7074',
 '7075',
 '7076',
 '7077',
 '7078',
 '7079',
 '7083',
 '7084',
 '7085',
 '7086',
 '7087',
 '7088',
 '7089',
 '7090',
 '7091',
 '7092',
 '7093',
 '7094',
 '7095',
 '7096',
 '7097',
 '7098',
 '7099',
 '7100',
 '7101',
 '7102',
 '7103',
 '7104',
 '7105',
 '7106',
 '7107',
 '7108',
 '7109',
 '7110',
 '7111',
 '7112',
 '7113',
 '7114',
 '7115',
 '7116',
 '7117',
 '7118',
 '7119',
 '7120',
 '7121',
 '7122',
 '7123',
 '7124',
 '7126',
 '7127',
 '7128',
 '7129',
 '7130',
 '7131',
 '7132',
 '7133',
 '7135',
 '7136',
 '7137',
 '7138',
 '7139',
 '7140',
 '7141',
 '7142',
 '7143',
 '7144',
 '7146',
 '7147',
 '7148',
 '7149',
 '7150',
 '7151',
 '7152',
 '7153',
 '7154',
 '7155',
 '7156',
 '7157',
 '7158',
 '7160',
 '7161',
 '7162',
 '7163',
 '7164',
 '7167',
 '7168',
 '7169',
 '7170',
 '7171',
 '7172',
 '7173',
 '7174',
 '7175',
 '7176',
 '7178',
 '7180',
 '7181',
 '7182',
 '7183',
 '7184',
 '7188',
 '7189',
 '7190',
 '7191',
 '7192',
 '7193',
 '7194',
 '7195',
 '7196',
 '7197',
 '7198',
 '7199',
 '7202',
 '7203',
 '7204',
 '7205',
 '7206',
 '7207',
 '7208',
 '7209',
 '7210',
 '7211',
 '7216',
 '7217',
 '7220',
 '7221',
 '7222',
 '7223',
 '7224',
 '7225',
 '7226',
 '7227',
 '7228',
 '7229',
 '7230',
 '7231',
 '7232',
 '7233',
 '7234',
 '7235',
 '7236',
 '7237',
 '7238',
 '7239',
 '7240',
 '7241',
 '7242',
 '7243',
 '7244',
 '7245',
 '7246',
 '7247',
 '7248',
 '7249',
 '7250',
 '7251',
 '7252',
 '7253',
 '7256',
 '7257',
 '7258',
 '7259',
 '7260',
 '7261',
 '7262',
 '7263',
 '7264',
 '7265',
 '7266',
 '7267',
 '7268',
 '7269',
 '7270',
 '7271',
 '7272',
 '7273',
 '7274',
 '7275',
 '7276',
 '7277',
 '7278',
 '7279',
 '7280',
 '7281',
 '7283',
 '7284',
 '7285',
 '7286',
 '7287',
 '7288',
 '7289',
 '7291',
 '7292',
 '7296',
 '7297',
 '7298',
 '7299',
 '7301',
 '7302',
 '7303',
 '7309',
 '7311',
 '7312',
 '7313',
 '7314',
 '7315',
 '7316',
 '7317',
 '7318',
 '7319',
 '7320',
 '7321',
 '7322',
 '7323',
 '7324',
 '7326',
 '7327',
 '7328',
 '7329',
 '7331',
 '7332',
 '7333',
 '7334',
 '7335',
 '7336',
 '7337',
 '7338',
 '7339',
 '7340',
 '7341',
 '7342',
 '7343',
 '7344',
 '7345',
 '7346',
 '7347',
 '7348',
 '7349',
 '7350',
 '7351',
 '7352',
 '7353',
 '7354',
 '7355',
 '7356',
 '7357',
 '7358',
 '7359',
 '7360',
 '7361',
 '7362',
 '7363',
 '7364',
 '7365',
 '7366',
 '7367',
 '7368',
 '7369',
 '7371',
 '7373',
 '7374',
 '7375',
 '7376',
 '7377',
 '7378',
 '7379',
 '7380',
 '7381',
 '7382',
 '7383',
 '7384',
 '7385',
 '7386',
 '7387',
 '7388',
 '7389',
 '7391',
 '7392',
 '7395',
 '7398',
 '7399',
 '7400',
 '7403',
 '7404',
 '7406',
 '7407',
 '7408',
 '7409',
 '7410',
 '7411',
 '7412',
 '7413',
 '7414',
 '7415',
 '7416',
 '7417',
 '7418',
 '7419',
 '7420',
 '7422',
 '7424',
 '7425',
 '7427',
 '7428',
 '7429',
 '7430',
 '7431',
 '7432',
 '7433',
 '7434',
 '7435',
 '7437',
 '7438',
 '7440',
 '7441',
 '7442',
 '7443',
 '7444',
 '7445',
 '7446',
 '7447',
 '7448',
 '7449',
 '7450',
 '7451',
 '7452',
 '7453',
 '7454',
 '7455',
 '7457',
 '7458',
 '7459',
 '7460',
 '7461',
 '7462',
 '7463',
 '7465',
 '7466',
 '7467',
 '7468',
 '7469',
 '7471',
 '7472',
 '7473',
 '7474',
 '7475',
 '7476',
 '7477',
 '7478',
 '7479',
 '7480',
 '7483',
 '7484',
 '7485',
 '7486',
 '7487',
 '7488',
 '7489',
 '7491',
 '7492',
 '7493',
 '7494',
 '7496',
 '7497',
 '7501',
 '7502',
 '7503',
 '7504',
 '7505',
 '7506',
 '7508',
 '7514',
 '7515',
 '7516',
 '7517',
 '7518',
 '7519',
 '7520',
 '7521',
 '7522',
 '7523',
 '7524',
 '7526',
 '7527',
 '7528',
 '7529',
 '7530',
 '7531',
 '7533',
 '7534',
 '7536',
 '7537',
 '7538',
 '7539',
 '7540',
 '7541',
 '7542',
 '7543',
 '7544',
 '7545',
 '7546',
 '7547',
 '7548',
 '7549',
 '7551',
 '7552',
 '7553',
 '7554',
 '7555',
 '7556',
 '7557',
 '7558',
 '7559',
 '7561',
 '7562',
 '7563',
 '7564',
 '7565',
 '7566',
 '7567',
 '7568',
 '7569',
 '7570',
 '7571',
 '7572',
 '7575',
 '7576',
 '7577',
 '7579',
 '7580',
 '7581',
 '7582',
 '7583',
 '7584',
 '7585',
 '7586',
 '7587',
 '7588',
 '7589',
 '7590',
 '7591',
 '7593',
 '7594',
 '7595',
 '7596',
 '7597',
 '7598',
 '7599',
 '7600',
 '7601',
 '7602',
 '7603',
 '7604',
 '7605',
 '7606',
 '7607',
 '7608',
 '7609',
 '7610',
 '7611',
 '7612',
 '7613',
 '7614',
 '7615',
 '7616',
 '7617',
 '7618',
 '7619',
 '7620',
 '7621',
 '7622',
 '7623',
 '7624',
 '7625',
 '7626',
 '7627',
 '7629',
 '7630',
 '7631',
 '7632',
 '7633',
 '7634',
 '7635',
 '7636',
 '7637',
 '7638',
 '7639',
 '7640',
 '7641',
 '7642',
 '7643',
 '7644',
 '7645',
 '7646',
 '7647',
 '7648',
 '7650',
 '7654',
 '7655',
 '7656',
 '7657',
 '7658',
 '7659',
 '7660',
 '7662',
 '7663',
 '7664',
 '7665',
 '7666',
 '7667',
 '7668',
 '7670',
 '7671',
 '7675',
 '7676',
 '7677',
 '7678',
 '7679',
 '7680',
 '7681',
 '7682',
 '7683',
 '7684',
 '7685',
 '7686',
 '7687',
 '7688',
 '7689',
 '7690',
 '7691',
 '7692',
 '7693',
 '7694',
 '7695',
 '7696',
 '7698',
 '7699',
 '7700',
 '7701',
 '7702',
 '7703',
 '7704',
 '7705',
 '7706',
 '7707',
 '7708',
 '7709',
 '7710',
 '7711',
 '7712',
 '7713',
 '7715',
 '7716',
 '7717',
 '7718',
 '7719',
 '7720',
 '7721',
 '7724',
 '7725',
 '7728',
 '7729',
 '7730',
 '7731',
 '7732',
 '7733',
 '7734',
 '7735',
 '7736',
 '7737',
 '7738',
 '7739',
 '7740',
 '7741',
 '7742',
 '7743',
 '7744',
 '7745',
 '7746',
 '7747',
 '7748',
 '7749',
 '7750',
 '7751',
 '7752',
 '7753',
 '7754',
 '7755',
 '7756',
 '7757',
 '7758',
 '7759',
 '7760',
 '7761',
 '7762',
 '7765',
 '7766',
 '7767',
 '7768',
 '7769',
 '7770',
 '7771',
 '7772',
 '7773',
 '7774',
 '7775',
 '7776',
 '7777',
 '7778',
 '7779',
 '7780',
 '7781',
 '7782',
 '7783',
 '7784',
 '7785',
 '7787',
 '7788',
 '7789',
 '7790',
 '7791',
 '7792',
 '7794',
 '7795',
 '7796',
 '7798',
 '7799',
 '7800',
 '7801',
 '7802',
 '7803',
 '7804',
 '7805',
 '7806',
 '7807',
 '7808',
 '7809',
 '7810',
 '7811',
 '7812',
 '7813',
 '7814',
 '7815',
 '7816',
 '7817',
 '7818',
 '7819',
 '7820',
 '7821',
 '7822',
 '7823',
 '7824',
 '7825',
 '7826',
 '7827',
 '7828',
 '7829',
 '7830',
 '7831',
 '7832',
 '7833',
 '7834',
 '7835',
 '7836',
 '7837',
 '7838',
 '7839',
 '7840',
 '7841',
 '7842',
 '7843',
 '7844',
 '7845',
 '7846',
 '7848',
 '7849',
 '7850',
 '7851',
 '7852',
 '7853',
 '7854',
 '7855',
 '7856',
 '7857',
 '7858',
 '7859',
 '7860',
 '7861',
 '7862',
 '7863',
 '7864',
 '7865',
 '7866',
 '7867',
 '7868',
 '7869',
 '7870',
 '7871',
 '7872',
 '7873',
 '7874',
 '7875',
 '7876',
 '7877',
 '7878',
 '7879',
 '7880',
 '7881',
 '7882',
 '7883',
 '7884',
 '7885',
 '7886',
 '7887',
 '7888',
 '7889',
 '7890',
 '7891',
 '7892',
 '7893',
 '7895',
 '7896',
 '7897',
 '7898',
 '7899',
 '7900',
 '7901',
 '7902',
 '7903',
 '7904',
 '7905',
 '7906',
 '7907',
 '7909',
 '7910',
 '7911',
 '7912',
 '7913',
 '7914',
 '7915',
 '7916',
 '7917',
 '7918',
 'Station']

In [105]:
len(startinglistheader)

815

In [103]:
endinglistheader = ridership_ending.columns.tolist()[1:-3]
endinglistheader

[0,
 7000,
 7001,
 7002,
 7003,
 7004,
 7005,
 7006,
 7007,
 7008,
 7009,
 7010,
 7012,
 7013,
 7014,
 7015,
 7016,
 7017,
 7018,
 7019,
 7020,
 7021,
 7022,
 7023,
 7024,
 7025,
 7026,
 7027,
 7028,
 7029,
 7030,
 7031,
 7032,
 7033,
 7034,
 7035,
 7036,
 7037,
 7038,
 7039,
 7040,
 7041,
 7042,
 7043,
 7044,
 7045,
 7046,
 7047,
 7048,
 7049,
 7050,
 7052,
 7053,
 7054,
 7055,
 7056,
 7057,
 7058,
 7059,
 7061,
 7062,
 7063,
 7064,
 7065,
 7066,
 7067,
 7068,
 7069,
 7070,
 7071,
 7072,
 7073,
 7074,
 7075,
 7076,
 7077,
 7078,
 7079,
 7083,
 7084,
 7085,
 7086,
 7087,
 7088,
 7089,
 7090,
 7091,
 7092,
 7093,
 7094,
 7095,
 7096,
 7097,
 7098,
 7099,
 7100,
 7101,
 7102,
 7103,
 7104,
 7105,
 7106,
 7107,
 7108,
 7109,
 7110,
 7111,
 7112,
 7113,
 7114,
 7115,
 7116,
 7117,
 7118,
 7119,
 7120,
 7121,
 7122,
 7123,
 7124,
 7126,
 7127,
 7128,
 7129,
 7130,
 7131,
 7132,
 7133,
 7135,
 7136,
 7137,
 7138,
 7139,
 7140,
 7141,
 7142,
 7143,
 7144,
 7146,
 7147,
 7148,
 7149,
 7150,
 7151,
 7152,
 7153,
 7154,
 7155,
 7156,
 7157,
 7158,
 7160,
 7161,
 7162,
 7163,
 7164,
 7167,
 7168,
 7169,
 7170,
 7171,
 7172,
 7173,
 7174,
 7175,
 7176,
 7178,
 7180,
 7181,
 7182,
 7183,
 7184,
 7188,
 7189,
 7190,
 7191,
 7192,
 7193,
 7194,
 7195,
 7196,
 7197,
 7198,
 7199,
 7202,
 7203,
 7204,
 7205,
 7206,
 7207,
 7208,
 7209,
 7210,
 7211,
 7216,
 7217,
 7220,
 7221,
 7222,
 7223,
 7224,
 7225,
 7226,
 7227,
 7228,
 7229,
 7230,
 7231,
 7232,
 7233,
 7234,
 7235,
 7236,
 7237,
 7238,
 7239,
 7240,
 7241,
 7242,
 7243,
 7244,
 7245,
 7246,
 7247,
 7248,
 7249,
 7250,
 7251,
 7252,
 7253,
 7256,
 7257,
 7258,
 7259,
 7260,
 7261,
 7262,
 7263,
 7264,
 7265,
 7266,
 7267,
 7268,
 7269,
 7270,
 7271,
 7272,
 7273,
 7274,
 7275,
 7276,
 7277,
 7278,
 7279,
 7280,
 7281,
 7283,
 7284,
 7285,
 7286,
 7287,
 7288,
 7289,
 7291,
 7292,
 7296,
 7297,
 7298,
 7299,
 7301,
 7302,
 7303,
 7309,
 7311,
 7312,
 7313,
 7314,
 7315,
 7316,
 7317,
 7318,
 7319,
 7320,
 7321,
 7322,
 7323,
 7324,
 7326,
 7327,
 7328,
 7329,
 7331,
 7332,
 7333,
 7334,
 7335,
 7336,
 7337,
 7338,
 7339,
 7340,
 7341,
 7342,
 7343,
 7344,
 7345,
 7346,
 7347,
 7348,
 7349,
 7350,
 7351,
 7352,
 7353,
 7354,
 7355,
 7356,
 7357,
 7358,
 7359,
 7360,
 7361,
 7362,
 7363,
 7364,
 7365,
 7366,
 7367,
 7368,
 7369,
 7371,
 7373,
 7374,
 7375,
 7376,
 7377,
 7378,
 7379,
 7380,
 7381,
 7382,
 7383,
 7384,
 7385,
 7386,
 7387,
 7388,
 7389,
 7391,
 7392,
 7395,
 7398,
 7399,
 7400,
 7403,
 7404,
 7406,
 7407,
 7408,
 7409,
 7410,
 7411,
 7412,
 7413,
 7414,
 7415,
 7416,
 7417,
 7418,
 7419,
 7420,
 7422,
 7424,
 7425,
 7427,
 7428,
 7429,
 7430,
 7431,
 7432,
 7433,
 7434,
 7435,
 7437,
 7438,
 7440,
 7441,
 7442,
 7443,
 7444,
 7445,
 7446,
 7447,
 7448,
 7449,
 7450,
 7451,
 7452,
 7453,
 7454,
 7455,
 7457,
 7458,
 7459,
 7460,
 7461,
 7462,
 7463,
 7465,
 7466,
 7467,
 7468,
 7469,
 7471,
 7472,
 7473,
 7474,
 7475,
 7476,
 7477,
 7478,
 7479,
 7480,
 7483,
 7484,
 7485,
 7486,
 7487,
 7488,
 7489,
 7491,
 7492,
 7493,
 7494,
 7496,
 7497,
 7501,
 7502,
 7503,
 7504,
 7505,
 7506,
 7508,
 7514,
 7515,
 7516,
 7517,
 7518,
 7519,
 7520,
 7521,
 7522,
 7523,
 7524,
 7526,
 7527,
 7528,
 7529,
 7530,
 7531,
 7533,
 7534,
 7536,
 7537,
 7538,
 7539,
 7540,
 7541,
 7542,
 7543,
 7545,
 7546,
 7547,
 7548,
 7549,
 7551,
 7552,
 7553,
 7554,
 7555,
 7556,
 7557,
 7558,
 7559,
 7561,
 7562,
 7563,
 7564,
 7565,
 7566,
 7567,
 7568,
 7569,
 7570,
 7571,
 7572,
 7575,
 7576,
 7577,
 7579,
 7580,
 7581,
 7582,
 7583,
 7584,
 7585,
 7586,
 7587,
 7588,
 7589,
 7590,
 7591,
 7593,
 7594,
 7595,
 7596,
 7597,
 7598,
 7599,
 7600,
 7601,
 7602,
 7603,
 7604,
 7605,
 7606,
 7607,
 7608,
 7609,
 7610,
 7611,
 7612,
 7613,
 7614,
 7615,
 7616,
 7617,
 7618,
 7619,
 7620,
 7621,
 7622,
 7623,
 7624,
 7625,
 7626,
 7627,
 7629,
 7630,
 7631,
 7632,
 7633,
 7634,
 7635,
 7636,
 7637,
 7638,
 7639,
 7640,
 7641,
 7642,
 7643,
 7644,
 7645,
 7646,
 7647,
 7648,
 7650,
 7654,
 7655,
 7656,
 7657,
 7658,
 7659,
 7660,
 7662,
 7663,
 7664,
 7665,
 7666,
 7667,
 7668,
 7670,
 7671,
 7675,
 7676,
 7677,
 7678,
 7679,
 7680,
 7681,
 7682,
 7683,
 7684,
 7685,
 7686,
 7687,
 7688,
 7689,
 7690,
 7691,
 7692,
 7693,
 7694,
 7695,
 7696,
 7698,
 7699,
 7700,
 7701,
 7702,
 7703,
 7704,
 7705,
 7706,
 7707,
 7708,
 7709,
 7710,
 7711,
 7712,
 7713,
 7715,
 7716,
 7717,
 7718,
 7719,
 7720,
 7721,
 7723,
 7724,
 7725,
 7726,
 7728,
 7729,
 7730,
 7731,
 7732,
 7733,
 7734,
 7735,
 7736,
 7737,
 7738,
 7739,
 7740,
 7741,
 7742,
 7743,
 7744,
 7745,
 7746,
 7747,
 7748,
 7749,
 7750,
 7751,
 7752,
 7753,
 7754,
 7755,
 7756,
 7757,
 7758,
 7759,
 7760,
 7761,
 7762,
 7763,
 7765,
 7766,
 7767,
 7768,
 7769,
 7770,
 7771,
 7772,
 7773,
 7774,
 7775,
 7776,
 7777,
 7778,
 7779,
 7780,
 7781,
 7782,
 7783,
 7784,
 7785,
 7787,
 7788,
 7789,
 7790,
 7791,
 7792,
 7794,
 7795,
 7796,
 7798,
 7799,
 7800,
 7801,
 7802,
 7803,
 7804,
 7805,
 7806,
 7807,
 7808,
 7809,
 7810,
 7811,
 7812,
 7813,
 7814,
 7815,
 7816,
 7817,
 7818,
 7819,
 7820,
 7821,
 7822,
 7823,
 7824,
 7825,
 7826,
 7827,
 7828,
 7829,
 7830,
 7831,
 7832,
 7833,
 7834,
 7835,
 7836,
 7837,
 7838,
 7839,
 7840,
 7841,
 7842,
 7843,
 7844,
 7845,
 7846,
 7848,
 7849,
 7850,
 7851,
 7852,
 7853,
 7854,
 7855,
 7856,
 7857,
 7858,
 7859,
 7860,
 7861,
 7862,
 7863,
 7864,
 7865,
 7866,
 7867,
 7868,
 7869,
 7870,
 7871,
 7872,
 7873,
 7874,
 7875,
 7876,
 7877,
 7878,
 7879,
 7880,
 7881,
 7882,
 7883,
 7884,
 7885,
 7886,
 7887,
 7888,
 7889,
 7890,
 7891,
 7892,
 7893,
 7895,
 7896,
 7897,
 7898,
 7899,
 7900,
 7901,
 7902,
 7903,
 7904,
 7905,
 7906,
 7907,
 7909,
 7910,
 7911,
 7912,
 7913,
 7914,
 7916,
 7917,
 7918]

In [104]:
len(endinglistheader)

816

## Average Duration

In [89]:
averageTime_pivot = pd.pivot_table(bikeshare, index = 'Start Station Id', columns = 'End Station Id', values = 'Trip  Duration', aggfunc = 'mean').reset_index()
averageTime_pivot = averageTime_pivot.round(2)
averageTime_pivot

End Station Id,Start Station Id,0,7000,7001,7002,7003,7004,7005,7006,7007,...,7907,7909,7910,7911,7912,7913,7914,7916,7917,7918
0,7000,443.20,2434.48,1492.00,1446.97,1245.43,4158.73,672.69,1161.48,965.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,589.0,NaN,NaN
1,7001,326.33,1268.30,1414.68,566.15,736.92,392.23,967.86,555.03,647.75,...,NaN,NaN,NaN,NaN,1651.0,NaN,NaN,NaN,NaN,NaN
2,7002,1151.45,1274.95,595.37,1818.13,341.67,567.46,948.86,588.72,407.63,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1184.0,NaN,NaN
3,7003,167.20,1031.38,947.43,494.81,1500.94,645.88,829.67,809.41,564.30,...,224.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,917.0,NaN
4,7004,311.40,1019.26,536.61,672.72,640.00,1654.85,369.71,342.71,362.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
809,7914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
810,7915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
811,7916,NaN,452.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
812,7917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1516.0,NaN
813,7918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3119.0

In [90]:
#join the start end pair with their station names and coordinates. 
start_end_coordinates = pd.merge(start_end, bikeshare_stations, left_on = 'Start ID', right_on = 'ID')
start_end_coordinates = start_end_coordinates.drop(["Name", "Start ID", "index"], axis = 1)
start_end_coordinates = start_end_coordinates.rename(columns = {"ID": "Start ID", "Station": "Start Station", "y": "Start Y", "x": "Start X", "Start End Station": "Trip Count"})
#export to csv
start_end_coordinates.to_csv("start_end_coordinates.csv")

NameError: name 'start_end' is not defined

In [ ]:
#read the csv and join the end ID with their end ID station name and coordinates. 
start_end_coordinates = pd.read_csv("start_end_coordinates.csv")
start_end_coordinates['End ID'] = start_end_coordinates['End ID'].astype('str')
bikeshare_stations['ID'] = bikeshare_stations['ID'].astype('str')

In [ ]:
start_end_coordinates = pd.merge(start_end_coordinates, bikeshare_stations, left_on = 'End ID', right_on = 'ID')
start_end_coordinates = start_end_coordinates.drop(["Name", "End ID"], axis = 1)
start_end_coordinates = start_end_coordinates.rename(columns = {"ID": "End ID", "Station": "End Station", "y": "End Y", "x": "End X"})
start_end_coordinates = start_end_coordinates.sort_values('Start ID')
start_end_coordinates.to_csv("start_end_coordinates.csv")

In [ ]:
ridership_full[['Start Month', 'Start Date', 'Start Year']] = ridership_full['Start Time'].str.split('/', expand = True)
ridership_full

,ï»¿Trip Id,Trip Duration,Start Station Id,Start Time,Start Station Name,End Station Id,End Time,End Station Name,Bike Id,User Type,Trip Id,Start Month,Start Date,Start Year
0,20148784.0,840,7022,01/01/2023 00:00,Simcoe St / Queen St W,7703.0,01/01/2023 00:14,NaN,1770,Casual Member,NaN,01,01,2023 00:00
1,20148785.0,722,7399,01/01/2023 00:01,Lower Jarvis / Queens Quay E,7533.0,01/01/2023 00:13,Housey St / Dan Leckie Way,6400,Casual Member,NaN,01,01,2023 00:01
2,20148786.0,1054,7269,01/01/2023 00:02,Toronto Eaton Centre (Yonge St),7076.0,01/01/2023 00:20,York St / Queens Quay W,4068,Annual Member,NaN,01,01,2023 00:02
3,20148790.0,1329,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,427,Casual Member,NaN,01,01,2023 00:04
4,20148791.0,1291,7721,01/01/2023 00:04,NaN,7685.0,01/01/2023 00:26,NaN,1840,Casual Member,NaN,01,01,2023 00:04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663686,NaN,3209,7713,06/30/2023 23:59,NaN,7408.0,07/01/2023 00:53,University Ave / Armoury St,4905,Casual Member,22691896.0,06,30,2023 23:59
663687,NaN,279,7462,06/30/2023 23:59,Richmond St E / Yonge St,7102.0,07/01/2023 00:04,Nelson St / Duncan St,1381,Annual Member,22691897.0,06,30,2023 23:59
663688,NaN,2823,7283,06/30/2023 23:59,Front St W / Bay St (South Side),7283.0,07/01/2023 00:47,Front St W / Bay St (South Side),7324,Casual Member,22691898.0,06,30,2023 23:59
663689,NaN,3353,7713,06/30/2023 23:59,NaN,7408.0,07/01/2023 00:55,University Ave / Armoury St,3309,Casual Member,22691899.0,06,30,2023 23:59
663690,NaN,1422,7281,06/30/2023 23:59,Charles St W / Balmuto St - SMART,7441.0,07/01/2023 00:23,Pacific Ave / Glenlake Ave,1945,Casual Member,22691900.0,06,30,2023 23:59

In [ ]:
bikeshare_stations

,ID,Name,Station,y,x
0,7657,1 Market St - SMART,1 Market St - SMART,43.646993,-79.370666
1,7708,NaN,101 Cedarvale Ave,43.686868,-79.311094
2,7710,NaN,11 Spadina Rd,43.667725,-79.404137
3,7268,111 Bond St (North of Dundas St E) - SMART,111 Bond St (North of Dundas St E) - SMART,43.656927,-79.378497
4,7702,NaN,111 Broadview Ave,43.659348,-79.349937
...,...,...,...,...,...
809,7914,NaN,York St / Wellington St W (2),43.647043,-79.383141
810,7915,NaN,Rogers Rd / Watt Ave,43.682337,-79.468059
811,7916,NaN,University Ave / Pearl St,43.648430,-79.385566
812,7917,NaN,King St W / University Ave,43.647818,-79.384280
813,7918,NaN,Albion Rd/ Arcot Blvd,43.727622,-79.552549